<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Nimiq Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" media="print" onload="this.media='all'" rel="stylesheet"/>
<script src="https://s3.tradingview.com/tv.js"></script><script src="https://unpkg.com/vue@next"></script>
</head>
<body class="bg-gray-100">
<!-- Flex Container -->
<div class="flex flex-col gap-4 p-5 mx-auto mt-10 max-w-3xl">
<!-- Nimiq Dashboard -->
<div class="bg-white rounded-xl shadow-md p-6" id="app">
<h1 class="text-2xl font-bold mb-6">Nimiq Liquidity Dashboard</h1>
<div class="text-gray-500" v-if="loading">Loading...</div>
<div v-else="">
<!-- Average Price -->
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Average Price (Weighted by Volume):</label>
    <span class="text-xl">${{ averagePrice.toFixed(6) }}</span>
</div>

<!-- Liquidity Score -->
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Liquidity Score:</label>
    <span class="text-xl">{{ data.liquidityScore }}</span>
</div>

<!-- Total Volume -->
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Total Volume:</label>
    <span class="text-xl">${{ data.totalVolume }}</span>
</div>

<!-- Highest and Lowest Price -->
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Highest Price:</label>
    <span class="text-xl">${{ highestPrice.toFixed(6) }} at {{ highestPriceExchange }}</span>
</div>
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Lowest Price:</label>
    <span class="text-xl">${{ lowestPrice.toFixed(6) }} at {{ lowestPriceExchange }}</span>
</div>

<!-- Arbitrage Opportunity -->
<div class="mb-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
    <p class="font-bold">Arbitrage Opportunity:</p>
    <p class="text-xl">{{ arbitragePercentage.toFixed(2) }}%</p>
</div>

<!-- Volume Distribution by Top 3 Exchanges -->
<h2 class="text-xl font-bold mb-4">Volume Distribution</h2>
<div class="relative pt-1 px-4">
    <div class="flex h-2 mb-4 overflow-hidden text-xs bg-gray-200 rounded relative">
        <div :class="['bg-blue-500', 'bg-green-500', 'bg-red-500', 'bg-gray-400'][index]" :key="exchange.name" :style="{width: exchange.volumePercentage + '%'}" v-for="(exchange, index) in topExchanges"></div>
</div>
<!-- Display data for each exchange -->
<div class="flex justify-between border-t border-b py-2">
<div :key="exchange.name" class="flex flex-col items-center w-1/4 px-2" v-for="(exchange, index) in topExchanges">
<div :class="['text-center', ['text-blue-500', 'text-green-500', 'text-red-500', 'text-gray-500'][index]]">
<div class="text-sm font-bold mb-1">{{ exchange.name }} ({{ exchange.volumePercentage }}%)</div>
<div class="text-black text-xs mb-1">Vol: ${{ exchange.volumeUSD }}</div>
<div class="text-black text-xs mb-1">Price: ${{ exchange.priceUSD }}</div>
<div class="text-black text-xs mb-1" v-if="exchange.bidAskSpreadPercentage">Spread: {{ exchange.bidAskSpreadPercentage }}%</div>
<div class="text-black text-xs mb-1">Liquidity: {{ exchange.liquidity }}</div>
<div class="text-black text-xs mb-1" v-if="exchange.hasTradingIncentive">Incentive: Yes</div>
<div class="text-black text-xs mb-1" v-else>Incentive: No</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- TradingView Widget -->
<div class="bg-white rounded-xl shadow-md p-4">
<div class="tradingview-widget-container">
<div id="tradingview_06e64"></div>
<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
</div>
</div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                data: {},
                topExchanges: [],
                loading: true,
                highestPrice: 0,
                highestPriceExchange: '',
                lowestPrice: 0,
                lowestPriceExchange: '',
                arbitragePercentage: 0
            };
        },
        computed: {
            averagePrice() {
                const totalPercentageTop3 = this.topExchanges.reduce((sum, exchange) => sum + (exchange.volumePercentage ? parseFloat(exchange.volumePercentage) : 0), 0);
                const weightedSum = this.topExchanges.reduce((sum, exchange) => sum + (exchange.volumePercentage * (exchange.priceUSD ? parseFloat(exchange.priceUSD) : 0)), 0);
                return (totalPercentageTop3 !== 0) ? weightedSum / totalPercentageTop3 : 0;
            },
            remainingVolumePercentage() {
                return 100 - this.topExchanges.reduce((sum, exchange) => sum + parseFloat(exchange.volumePercentage), 0);
            }
        },
        mounted() {
            this.fetchData();
            setInterval(this.fetchData, 60000); // Fetch data every minute
        },
        methods: {
            fetchData() {
                fetch('https://api.coingecko.com/api/v3/coins/nimiq-2')
                    .then(response => response.json())
                    .then(data => {
                        const totalVolumeUSD = data.tickers.reduce((acc, ticker) => acc + (ticker.converted_volume?.usd || 0), 0);

                        // Set the liquidityScore and totalVolume values
                        this.data = {
                            liquidityScore: data.liquidity_score || 'N/A',
                            totalVolume: totalVolumeUSD.toFixed(2)
                        };

                        const top3Tickers = data.tickers.sort((a, b) => (b.converted_volume?.usd || 0) - (a.converted_volume?.usd || 0)).slice(0, 3);
                        this.topExchanges = top3Tickers.map(ticker => ({
                            name: ticker.market.name,
                            volumePercentage: parseFloat((((ticker.converted_volume?.usd || 0) / totalVolumeUSD) * 100).toFixed(2)),
                            volumeUSD: ticker.converted_volume?.usd.toFixed(2) || 'N/A',
                            priceUSD: parseFloat(ticker.converted_last?.usd.toFixed(6)) || 'N/A',
                            liquidity: ticker.trust_score || 'N/A',
                            bidAskSpreadPercentage: (ticker.bid_ask_spread_percentage || 0).toFixed(2),
                            hasTradingIncentive: ticker.market.has_trading_incentive
                            
                        }));

                        const pricesFromAllExchanges = data.tickers.map(ticker => ({
                            exchange: ticker.market.name,
                            price: parseFloat(ticker.converted_last?.usd.toFixed(6)) || 0
                        }));
                        const maxPriceObj = pricesFromAllExchanges.reduce((a, b) => a.price > b.price ? a : b, pricesFromAllExchanges[0]);
                        const minPriceObj = pricesFromAllExchanges.reduce((a, b) => a.price < b.price ? a : b, pricesFromAllExchanges[0]);

                        this.highestPrice = maxPriceObj.price;
                        this.highestPriceExchange = maxPriceObj.exchange;
                        this.lowestPrice = minPriceObj.price;
                        this.lowestPriceExchange = minPriceObj.exchange;
                        this.arbitragePercentage = ((this.highestPrice - this.lowestPrice) / this.lowestPrice) * 100;
                        this.loading = false;
                    });
            }
        }
    });
    app.mount('#app');
</script>

<script async="True" src="https://s3.tradingview.com/tv.js" type="text/javascript"></script>
<script type="text/javascript">
    new TradingView.widget({
        "width": "100%",
        "height": 400,
        "symbol": "CRYPTO:NIMUSD",
        "interval": "240",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "studies": [
            "STD;MA%Ribbon"
        ],
        "hide_volume": true,
        "container_id": "tradingview_06e64"
    });
</script>
<!-- Disclaimer and Privacy Notice Container -->
<div class="flex flex-col gap-4 p-5 mx-auto mt-10 max-w-3xl bg-white rounded-xl shadow-md p-6">
    <!-- Disclaimer Title -->
    <h2 class="text-xl font-bold mb-4">Disclaimer and Privacy Notice:</h2>
    
    <!-- Disclaimer Content -->
    <div class="text-sm text-gray-700 mb-4">
        All data and information provided on this site is for informational purposes only and should not be construed as financial advice or endorsement of any particular investment, strategy, or product. The site makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The site will not be liable for any errors or omissions in this information nor for the availability of this information. The site will not be liable for any losses, injuries, or damages from the display or use of this information.
    </div>
    
    <!-- Privacy Notice Title -->
    <h3 class="text-lg font-semibold mb-2">Privacy Notice:</h3>
    
    <!-- Privacy Notice Content -->
    <div class="text-sm text-gray-700 mb-4">
        This site does not use cookies, and we do not store any personal data of our users. However, we utilize third-party tools, including the CoinGecko API and the TradingView widget, as well as host our site on GitHub Pages. These platforms may have their own data practices and policies. For further information on their privacy practices, please refer to the following:<br>
        <ul class="list-disc pl-5">
            <li><a href="https://www.coingecko.com/en/privacy" class="underline text-blue-500 hover:text-blue-600">CoinGecko's Privacy Policy</a></li>
            <li><a href="https://www.tradingview.com/privacy-policy/" class="underline text-blue-500 hover:text-blue-600">TradingView's Privacy Policy</a></li>
            <li><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement" class="underline text-blue-500 hover:text-blue-600">GitHub's Privacy Statement</a></li>
        </ul>
        <br>
        For any inquiries or feedback, you can contact me on <a href="https://github.com/MichaNimiq" class="underline text-blue-500 hover:text-blue-600" target="_blank" rel="noopener noreferrer">GitHub</a>.
    </div>
    
</div>

</body>
</html>
